<!-- This template extends from layout.html -->
{% extends "layout.html" %}

<!-- This block sets the title of the page -->
{% block title %}Monsters{% endblock %}

<!-- This block contains the main content of the page -->
{% block main %}
<h1>Monsters</h1>
<ul>
    <!-- This loop iterates over the monsters list and displays each monster's details -->
    {% for monster in monsters %}
        <li><strong>Name:</strong> {{ monster['name'] }}</li>
        <li><strong>Meta:</strong> {{ monster['meta'] }}</li>
        <li><strong>Armor Class:</strong> {{ monster['Armor Class'] }}</li>
        <li><strong>Hit Points:</strong> {{ monster['Hit Points'] }}</li>
        <li><strong>Speed:</strong> {{ monster['Speed'] }}</li>
        <li><strong>STR:</strong> {{ monster['STR'] }} {{ monster['STR_mod'] }}</li>
        <li><strong>DEX:</strong> {{ monster['DEX'] }} {{ monster['DEX_mod'] }}</li>
        <li><strong>CON:</strong> {{ monster['CON'] }} {{ monster['CON_mod'] }}</li>
        <li><strong>INT:</strong> {{ monster['INT'] }} {{ monster['INT_mod'] }}</li>
        <li><strong>WIS:</strong> {{ monster['WIS'] }} {{ monster['WIS_mod'] }}</li>
        <li><strong>CHA:</strong> {{ monster['CHA'] }} {{ monster['CHA_mod'] }}</li>
        <li><strong>Saving Throws:</strong> {{ monster['Saving Throws'] }}</li>
        <li><strong>Skills:</strong> {{ monster['Skills'] }}</li>
        <li><strong>Senses:</strong> {{ monster['Senses'] }}</li>
        <li><strong>Languages:</strong> {{ monster['Languages'] }}</li>
        <li><strong>Challenge:</strong> {{ monster['Challenge'] }}</li>
        <li><strong>Traits:</strong> {{ monster['Traits']|safe }}</li>
        <li><strong>Actions:</strong> {{ monster['Actions']|safe }}</li>
        <li><strong>Legendary Actions:</strong> {{ monster['Legendary Actions']|safe }}</li>
        <li><strong>Image:</strong> <img src="{{ monster['img_url'] }}" alt="{{ monster['name'] }}"></li>
    {% endfor %}
</ul>
{% endblock %}